  <%-include('partials/header');-%>
<h1>Compose</h1>

  <form action="/compose" method="post">
    <p><b>
      Title
      </b>
      </p>
    <input type="text" name="obj" /><br />

    <p><b>
      Post
      </p></b>
      <textarea name="postt" rows="5" cols="80"></textarea>
      <br/>
    <button class="btn btn-primary" type="submit">Submit</button>

    </form>


    <div class="container">

    <div class="row services">
    <div class="col-md-12">

    <div class="blog">
  <a name="tarblog"></a>





  <h2>BLOG</h2>
  <div id="medium-widget">
      <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
      <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@thamizhiyam","postsPerLine":3,"limit":3,"picture":"big","fields":["description","author","publishAt"],"ratio":"square"}})</script>
  </div>



  <!-- END MAIN -->
  </div>
  </div>
  </div>
  </div>

  <%-include('partials/footer');-%>
