<%- include('partials/header'); -%>

    <!-- #region Jssor Slider Begin -->
    <!-- Generator: Jssor Slider Composer -->
    <!-- Source: https://www.jssor.com/demos/full-width-slider.slider/=edit -->
<head>
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>
  </head>
  <script>

    $(window).scroll(function() {
  if ($(document).scrollTop() > 610) {
    $('.topnav').addClass('trans');
    $('.footimg').addClass('bs');
    $('.footimg').removeClass('as');
    $('.navbar-brand').removeClass('as').addClass('bs');
    console.log("yes");
  } else {
    $('.topnav').removeClass('trans');
    $('.footimg').addClass('as');
    $('.navbar-brand').addClass('as').removeClass('bs');
      $('.footimg').removeClass('bs');
      console.log("no");
  }
  });



  </script>
      <script src="js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.jssor_1_slider_init = function() {

            var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,ls:0.5},{b:0,d:1000,y:5,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:200,d:1000,y:25,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:400,d:1000,y:45,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:600,d:1000,y:65,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:800,d:1000,y:85,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:500,d:1000,y:195,e:{y:6}}],
              [{b:0,d:2000,y:30,e:{y:3}}],
              [{b:-1,d:1,rY:-15,tZ:100},{b:0,d:1500,y:30,o:1,e:{y:3}}],
              [{b:-1,d:1,rY:-15,tZ:-100},{b:0,d:1500,y:100,o:0.8,e:{y:3}}],
              [{b:500,d:1500,o:1}],
              [{b:0,d:1000,y:380,e:{y:6}}],
              [{b:300,d:1000,x:80,e:{x:6}}],
              [{b:300,d:1000,x:330,e:{x:6}}],
              [{b:-1,d:1,r:-110,sX:5,sY:5},{b:0,d:2000,o:1,r:-20,sX:1,sY:1,e:{o:6,r:6,sX:6,sY:6}}],
              [{b:0,d:600,x:150,o:0.5,e:{x:6}}],
              [{b:0,d:600,x:1140,o:0.6,e:{x:6}}],
              [{b:-1,d:1,sX:5,sY:5},{b:600,d:600,o:1,sX:1,sY:1,e:{sX:3,sY:3}}]
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $LazyLoading: 1,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 20,
                $SpacingY: 20
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 1600;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>


    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
    <style>
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        /*jssor slider bullet skin 132 css*/
        .jssorb132 {position:absolute;}
        .jssorb132 .i {position:absolute;cursor:pointer;}
        .jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
        .jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
        .jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
        .jssorb132 .i.idn {opacity:0.3;}

        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    </style>

    <a name="tarhome"></a>
    <svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
        <defs>
            <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
                <feGaussianBlur stddeviation="4"></feGaussianBlur>
            </filter>
            <radialGradient id="jssor_1_grd_2">
                <stop offset="0" stop-color="#fff"></stop>
                <stop offset="1" stop-color="#000"></stop>
            </radialGradient>
            <mask id="jssor_1_msk_3">
                <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0" style="position:absolute;overflow:visible;"></path>
            </mask>
        </defs>
    </svg>
    <div  id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1600px;height:800px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1620px;height:800px;overflow:hidden;">
            <div  style="background-color:#000000; ">
                <img data-u="image" style="opacity:0.25;"  data-src="img/s1.jpg" />
                <div data-ts="flat" data-p="275" data-po="40% 50%" style="left:150px;top:110px;width:800px;height:300px;position:absolute;">
                    <div class="same" style="left:30%;top:120px;width:800px;height:100px;position:absolute;color:white;font-size:34px;font-weight:100;letter-spacing:0em;align:center;">Hello!
					</div>
                    <div class="sameintro" style="left:30%;px;top:165px;width:700px;height:100px;position:absolute;color:#e3c047;;font-size:54px;font-weight:600;align:center;">I'm a Programmer</div>
                </div>

            </div>
            <div style="background-color:#000000;">
                <img data-u="image" style="opacity:0.25;" data-src="img/s2.jpg" />
                <div data-ts="flat" data-p="540" data-po="40% 50%" style="left:0px;top:0px;width:1620px;height:800px;position:absolute;">
                    <div data-to="50% 50%" data-ts="preserve-3d" data-t="6" style="left:350px;top:360px;width:900px;height:500px;position:absolute;">
                        <svg viewbox="0 0 800 60" data-to="50% 50%" width="800" height="60" data-t="7" style="left:0px;top:-70px;display:block;position:absolute;opacity:0;font-family: -apple-system, BlinkMacSystemFont;font-size:60px;font-weight:700;letter-spacing:0.05em;overflow:visible;">

                        </svg>

                        <svg viewbox="0 0 800 100" width="800" height="100" data-t="9" style="left:40px;top:250px;display:block;position:absolute;opacity:0;font-family: -apple-system, BlinkMacSystemFont;font-size:60px;font-weight:900;letter-spacing:0.5em;overflow:visible;">
                            <text fill="rgba(255,255,255,1)" stroke="#e3c047;" text-anchor="middle" x="400" y="100">Full Stack Devolopment
                            </text>
                        </svg>
                    </div>
                </div>
            </div>
            <div style="background-color:#000000;">
                <img data-u="image" style="opacity:0.25;" data-src="img/s3.jpg" />
                <div data-ts="flat" data-p="1080" style="left:0px;top:0px;width:1620px;height:800px;position:absolute;">
                    <svg viewbox="0 0 600 400" data-ts="preserve-3d" width="600" height="400" data-tchd="jssor_1_msk_3" style="left:255px;top:0px;display:block;position:absolute;overflow:visible;">
                        <g mask="url(#jssor_1_msk_3)">
                            <path data-to="300px -180px" fill="none" stroke="rgba(250,251,252,0.5)" stroke-width="20" d="M410-350L410-10L190-10L190-350Z" x="190" y="-350" data-t="10" style="position:absolute;overflow:visible;"></path>
                        </g>
                    </svg>
                    <svg viewbox="0 0 800 72" data-to="50% 50%" width="800" height="72" data-t="11" style="left:-800px;top:78px;display:block;position:absolute;font-family:'Roboto Condensed',sans-serif;font-size:84px;font-weight:900;overflow:visible;">
                        <text fill="#fafbfc" text-anchor="middle" x="400" y="72">IOS
                        </text>
                    </svg>
                    <svg viewbox="0 0 800 72" data-to="50% 50%" width="800" height="72" data-t="12" style="left:1600px;top:153px;display:block;position:absolute;font-family:'Roboto Condensed',sans-serif;font-size:60px;font-weight:900;overflow:visible;">
                        <text fill="#fafbfc" text-anchor="middle" x="400" y="72">Android
                        </text>
                    </svg>
                    <svg viewbox="0 0 800 72" data-to="50% 50%" width="800" height="72" data-t="11" style="left:-800px;top:228px;display:block;position:absolute;font-family:'Roboto Condensed',sans-serif;font-size:84px;font-weight:900;overflow:visible;">
                        <text fill="#fafbfc" text-anchor="middle" x="400" y="72">WEB
                        </text>
                    </svg>
                </div>
            </div>

            <div style="background-color:#000000;">
                <img style="opacity:0.25;" data-u="image" data-src="img/s4.jpg" />
                <div data-ts="flat" data-p="1080" style="left:0px;top:0px;width:1620px;height:800px;position:absolute;">
                    <div data-to="50% 50%" data-t="14" style="left:690px;top:140px;width:600px;height:150px;position:absolute;opacity:0;color:#ffffff;font-family:Georgia,'Times New Roman',Times,serif;font-size:60px;line-height:1.2;letter-spacing:0.1em;">Arduino Based<br /> Projects.</div>
                    <div data-to="50% 50%" data-t="15" style="left:780px;top:350px;width:344px;height:157px;position:absolute;opacity:0;color:#ffffff;font-family:Georgia,'Times New Roman',Times,serif;font-size:60px;line-height:1.2;letter-spacing:0.1em;">Machine Learning Researches</div>
                    </div>
            </div>
        </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:24px;right:16px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:5px;height:5px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:17px;height:17px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:17px;height:17px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();
    </script>
    <!-- #endregion Jssor Slider End-->
    <section id="aboutmee" data-aos="fade-right">
      <a name="tarabout"></a>
    <div class="container" >

    <div class="row services">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">

    <h2 >Hi I'm Dilaxn</h2>
    <p>
    &nbsp &nbsp I'm an IT undergraduate at the University of Moratuwa and a passionate tech enthuasist. Currently I'm working on web based projects. I also do full stack web devolopment using the  latest technologies to build apps and website.

    </p>
    <p>
    &nbsp &nbsp I  have started to learn Machine Learning as well and have an idea to join AI project Researches too. I also love Photography, Editing and am really interested in building Arduino/Atmega projects as well. I can handle any type of camera for photography. I always use Corel VideoStudio / Adobe PremirePro for video Editing and Adobe Illustrator & Adobe Photoshop for photo Editing. I love quotes. Nice Quotes make us think.
    </p>




    </div>
    </div>
    </div>
    </section>

    <section id="services" data-aos="fade-left">
      <a name="tarsevices"></a>
    <div class="container">
<center><h1 class="subhead"> Services</h1></center>

<hr class="hrservice"/>
<BR/>
    <div class="row services ">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left zoom"><center>
     <i class="fa fa-television fa-4x " aria-hidden="true"></i>
    <h3 >WebSites & WebApps</h3>
    <p>
    Fast load times and lag free interaction, my highest priority/Fast.
    </p>
    </center>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left zoom"><center>
      <i class="fa fa-apple fa-4x" aria-hidden="true" ></i>
    <h3 >IOS Apps</h3>
    <p>
    Websites don't have to be static, I love making pages come to life/Dynamic.
    </p></center>
</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left zoom"><center>
        <i class="fa fa-android fa-4x" aria-hidden="true"></i>
    <h3 >Android Apps</h3>
    <p>
    Strong preference for easy to use, intuitive UX/UI /Intuitive.
    </p></center>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left zoom"><center>
      <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
  <h3 >Graphics Work</h3>
  <p>
  Graphics works with quality.
  </p>
</center>
  </div>
    </section>


<section  class="show" data-aos="fade-right">

    <div class="main">

<a name="tarportfolio"></a>
<div class="container">

<div class="row services">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<center>


<h2>PORTFOLIO</h2>
<hr>
<div id="myBtnContainer">
<div class="btn" onclick="filterSelection('people')"><a href="#sec1"> Projects</a></div>
  <div class="btn" onclick="filterSelection('ill')"><a href="#sec2"> Illustrations</a></div>
  <div class="btn" onclick="filterSelection('cars')"><a href="#sec3"> Photographs</a></div>

</div>
  </center>
<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column ill">
    <div id="sec2" class="content zoom"><a href="https://drive.google.com/drive/folders/1akO0qp0wCGGCgUlOrk963torcVaMboJg?usp=sharing">
      <img src="img/webill2.jpeg" alt="Illustration" style="width:100%; height:180px">
      <h4>Stewart</h4>
      <p>Actress of The Twilight Film</p></a>
    </div>
  </div>
  <div class="column ill zoom">
    <div class="content"><a href="https://drive.google.com/drive/folders/1akO0qp0wCGGCgUlOrk963torcVaMboJg?usp=sharing">
    <img src="img/webill1.jpg" alt="Illustration" style="width:100%; height:180px">
      <h4>Paul walker</h4>
      <p>Hollywood Actor</p></a>
    </div>
  </div>
  <div class="column ill zoom">
    <div class="content"><a href="https://drive.google.com/drive/folders/1akO0qp0wCGGCgUlOrk963torcVaMboJg?usp=sharing">
    <img src="img/webill3.jpeg" alt="Illustration" style="width:100%; height:180px">
      <h4>AditiRao</h4>
      <p>Charecter of Leela from ManiR sir's film</p></a>
    </div>
  </div>

  <div id="sec3" class="column cars zoom">
    <div class="content">
      <img src="img/p1.jpg" alt="Picture" style="width:100%; height:180px">
      <h4>Tree with snow</h4>
      <p>Knuckles Mountain Range...</p>
    </div>
  </div>
  <div class="column cars zoom">
    <div class="content">
    <img src="img/p2.jpg" alt="Picture" style="width:100%;  height:180px">
      <h4>Fallen Rose</h4>
      <p>Plant in eelam..</p>
    </div>
  </div>
  <div class="column cars zoom">
    <div class="content">
    <img src="img/p3.jpg" alt="Picture" style="width:100%; height:180px">
      <h4>Color Sky through tree</h4>
      <p>Near Home...</p>
    </div>
  </div>

  <div class="column people zoom">
    <div id="sec1" class="content"><a href="http://evening-taiga-24468.herokuapp.com/">
      <img src="img/pr1.jpg" alt="Project" style="width:100%; height:180px">
      <h4>RemindMe</h4>
      <p>WebApp for Remind..</p>
    </a></div>
  </div>
  <div class="column people zoom">
    <div class="content">
    <img src="img/pr2.jpg" alt="Project" style="width:100%;  height:180px">
      <h4>HNC</h4>
      <p>Website for Hindu College just started..</p>
    </div>
  </div>
  <div class="column people zoom">
    <div class="content"><a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing">
    <img src="img/pr3.jpeg" alt="Project" style="width:100%;  height:180px">
      <h4>Document Locker</h4>
      <p>Atmega32 based Project..</p></a>
    </div>
  </div>
<!-- END GRID -->
</div>
</div>
</div>
</div>
<!-- END MAIN -->
</div>
</<section>



<section id="myquote" data-aos="fade-left">
<div class="container">

<div class="row services">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
<center>
<i class="fa fa-tasks fa-3x" aria-hidden="true"></i>

<h4>2</h4>
<p>Projects</p>
</center>
</div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
    <center>
  <p>
<i class="fa fa-code fa-3x" aria-hidden="true"></i></p>
<h4>20000</h4>


<p>lines of code</p>
</center>
  </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
      <center>
    <p>
    <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
</p>
  <h4>2</h4>

    <p>Happy Clients</p></center>
    </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
      <center><p>
      <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
</p>
      <h4>6</h4>

      <p>Tea Cups</p></center>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <center>
              <div id="slider">
                   <div class="container">
                     <div class="slide">

                       <p>
            "Don’t compare yourself with anyone in this world…if you do so, you are insulting yourself."
                        </p>
                       <h5>- BillGates -</h5>
                     </div>
                     <div class="slide">

                       <p>
                        “Your time is limited, so don’t waste it living someone else’s life.” </p>
                       <h5>- Steve Jobs -</h5>
                     </div>
                     <div class="slide">

                       <p>
                        "All of us do not have equal talent. But , all of us have an equal opportunity to develop our talents." </p>
                       <h5>- APJ Abdul Kalam -</h5>
                     </div>
                     <div class="slide">

                       <p>
                         “If I lose, it will not mean that it was impossible to win.” </p><h5>- Che -</h5>
                     </div>
                     <div class="slide">

                       <p>
                         "Wear your failure as a badge of honor!"</p>
                       <h5>- C2B -</h5>
                     </div>
                   </div>
                 </div>
      </center>
            </div>
      </div>
      </section>


      <div class="container" data-aos="fade-right">

      <div class="row services">
      <div class="col-md-12">

      <div class="blog">
      <a name="tarblog"></a>





    <center>  <h2>BLOG</h2></center><hr id="hrblog">
      <div id="medium-widget">
        <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
        <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@thamizhiyam","postsPerLine":3,"limit":3,"picture":"big","fields":["description","author","publishAt"],"ratio":"square"}})</script>
      </div>



      <!-- END MAIN -->
      </div>
      </div>
      </div>
      </div>







<a name="tarcontact" ></a>
<section id="contactme" data-aos="fade-left">
<div class="container">

<div class="row services">
  <h1>Contact_Me</h1><hr />
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">
  <br><br>
  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
  Email:<br />
dilaxn@gmail.com<br /><br /><i class="fa fa-mobile fa-2x" aria-hidden="true" ></i> Mobile:<br />
0767474651<br /><br />
<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>Address:<br />
57A, 1st Lane,<br/>Sudugangawatta,<br/>Kaludewala,Matale.

</div>
<form action="send" method="post">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
<input type="text" id="tbox" name="name" placeholder=" Name" required/><br /><br />
<input type="text" id="tbox" name="email" placeholder=" Email" required/>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
  <input type="text" id="tbox" name="phone" placeholder=" PhoneNo" required/><br /><br />
  <input type="text" id="tbox" name="company" placeholder=" Company Name" />
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
<br /><br />
    <textarea name="message"id="tarea" placeholder="Message" rows="8" cols="60" required></textarea>

  </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
<button type="submit" id="subcon">Submit</button>
</div>
</div>

</div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({offset:400,
    duration:800});
  </script>


    <%-include('partials/footer');-%>
