<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dilaxn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="body-bg">
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/lo.png" alt="">
            </div>
        </div>
    </div>
</div>
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="assets/img/logo/lolo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="/">Home</a></li>
                                <li><a href="#aboutd">About_Me</a></li>
                                <li><a href="#servicesd">Services</a></li>
                                <li><a href="#portfoliod">Portfolio</a></li>
                                <li><a >Blog</a>
                                    <ul class="submenu">
                                        <li><a href="#blogd">Blog</a></li>
                                        <li><a href="#quotesd">Quotes</a></li>

                                    </ul>
                                </li>
                                <li><a href="#contactd">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header-btn -->
                    <div class="header-btns d-none d-lg-block f-right">
                        <a href="#contactf" class="btn header-btn">Contact Me</a>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? slider Area Start-->
    <div class="slider-area">
        <div class="slider-active dot-style">
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".4s">Welcome to My Profile</span>
                                <h1 data-animation="fadeInLeft" data-delay=".6s">Iam a Programmer.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".4s">Full Stack Devolopment</span>
                                <h1 data-animation="fadeInLeft" data-delay=".6s">ios, Android & Web</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="single-slider slider-height hero-overly d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".4s">Extra Works</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s">Ardiuno Projects & Graphics work</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Video icon
        <div class="video-icon">
            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><i class="fas fa-play"></i></a>
        </div>-->
    </div>
    <!-- slider Area End-->
    <!--? our info Start -->
    <div id="servicesd" class="our-info-area pt-170 pb-100 section-bg" data-background="assets/img/gallery/section_bg02.jpg">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-60">
                        <div class="info-caption">
                            <h4>WebSites & WebApps</h4>
                            <p>Websites don't have to be static, I love making pages come to life/Dynamic. </p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-60">
                        <div class="info-caption">
                            <h4>IOS Apps</h4>
                            <p>Fast load times and lag free interaction, my highest priority/Fast. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-60">
                        <div class="info-caption">
                            <h4>Android Apps</h4>
                            <p>Strong preference for easy to use, intuitive UX/UI /Intuitive. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Info start -->
    <!--? Professional Services Start -->
    <div id="aboutd" class="professional-services section-bg d-none d-md-block" data-background="assets/img/gallery/section_bg04.jpg"></div>
    <div class="profession-caption">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle profession-details">
                            <span>About Me</span>
                            <h2>I'm an IT undergraduate at the University of Moratuwa and a passionate tech enthuasist. </h2>
                            <p>Currently I'm working on web based projects. I also do full stack web devolopment using the latest technologies to build apps and website.</p>
                            <p>I have started to learn Machine Learning as well and have an idea to join AI project Researches too. I also love Photography, Editing and am really interested in building Arduino/Atmega projects as well. I can handle any type of camera for photography. I always use Corel VideoStudio / Adobe PremirePro for video Editing and Adobe Illustrator & Adobe Photoshop for photo Editing. I love quotes. Nice Quotes make us think.</p>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="assets/img/cv.pdf" class="btn btn3">Curriculum Vitae</a>
                                        <a href="https://www.linkedin.com/in/dilaxn-7a824b172/" class="btn btn3">Check My LinkedIn</a>
                      <a href="https://dilaxn.pixieset.com/illustrations/" class="btn btn3">See My illustrations</a>
                </div>

            </div>
        </div>
    </div>
    <!-- Professional Services End -->
    <!-- our info End -->
    <!--? Services Ara Start -->
    <div id="portfoliod" class="services-area section-padding3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Extra works</span>
                        <h2>Graphics work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="assets/img/gallery/services4.png" alt="">
                            </div>
                            <div class="services-caption">
                            <h3><a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing">Atharvaa</a></h3>
                            <p class="pera1">Actor  </p>
                            <p class="pera2">Actor in Kollywood. Son of Hero Murali.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="assets/img/gallery/services3.png" alt="">
                            </div>
                            <div class="services-caption">
                            <h3><a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing">CEO of Alphabet</a></h3>
                            <p class="pera1">Sundar Pichai</p>
                            <p class="pera2">CEO of Google & Parental Company Alphabet Inc. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="single-services mb-200">
                        <div class="services-img">
                            <img src="assets/img/gallery/services1.png" alt="">
                            </div>
                            <div class="services-caption">
                            <h3><a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing">Thala</a></h3>
                            <p class="pera1">AjithKumar </p>
                            <p class="pera2">Kolleywood Actor and inspiring person. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ara End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid p-0 fix">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery1.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>WebApp for Remind..</span>RemindMe</h3>
                                <a href="http://evening-taiga-24468.herokuapp.com/"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery2.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>In Eelam</span>Fallen Rose</h3>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                            <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery3.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>In Knuckles mountain Rage</span>Alone Tree</h3>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery4.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>Near Home</span>Sky along tree</h3>
                              <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery5.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>In MARVAL (C.evans)</span>Captain America</h3>
                                <a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(assets/img/gallery/gallery6.jpg);"></div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3><span>Legendary Director</span>Christopher Nolan</h3>
                                <a href="https://drive.google.com/file/d/1-SLraea8Ogw_7G-oEFwyTRpSXVToSnyF/view?usp=sharing"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!-- Team Start -->
    <div  class="team-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Latest Technology</span>
                        <h2>Full Stack Devolopment</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/team1.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3>IOS</h3>
                            <span>Passionate</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/team2.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3>Android</h3>
                            <span>Elegant</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/team3.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3>Web</h3>
                            <span>Creative</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Testimonial Start -->
    <div id="quotesd" class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/gallery/testi-logo.png" alt="">
                                    <p>"All of us do not have equal talent. But , all of us have an equal opportunity to develop our talents."</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>APJ Abdul Kalam</strong>   -   Formar President of India</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/gallery/testi-logo.png" alt="">
                                    <p>"Don’t compare yourself with anyone in this world…if you do so, you are insulting yourself."
</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>BillGates</strong>   -   Founder of Microsoft</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/gallery/testi-logo.png" alt="">
                                    <p>“If I lose, it will not mean that it was impossible to win.”</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>CHE</strong>   -   Revolutioner.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/gallery/testi-logo.png" alt="">
                                    <p>“Your time is limited, so don’t waste it living someone else’s life.”</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>Steve Jobs</strong>   -   founder of Apple.Inc</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/gallery/testi-logo.png" alt="">
                                    <p>"Wear your failure as a badge of honor!"</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img">
                                        <span><strong>C2B</strong>   -   Programmer.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Brand Area Start -->

    <!-- Brand Area End -->
    <!-- Want To work -->
    <section id="contactd">
  <div class="container">
    <div class="row justify-content-center">
        <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70">

                <h2>Contact Me</h2>
            </div>
        </div>
    </div>
      <form action="send" method="post">
    <div class="row ">

        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="single-services mb-10">

                    <div class="sc">
                      <br><br>
                      <i class="fa fa-envelope fa-2x " aria-hidden="true"></i>
                       Email: <br />
                    <span class="ic">  dilaxn@gmail.com</span><br /><br /><i class="fa fa-mobile fa-2x" aria-hidden="true" ></i> Mobile:<br />
                    <span class="ic">  0767474651</span><br /><br />
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>Address:<br />
                  <span class="ic">    57A, 1st Lane,<br/>Sudugangawatta,<br/>Kaludewala,Matale.</span>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="single-services mb-10">

                    <div class="services-caption">
                      <input type="text" id="tbox" name="name" placeholder=" Name" required/><br /><br />
                      <input type="text" id="tbox" name="email" placeholder=" Email" required/><br /><br />
                      <textarea name="message"id="tarea" placeholder="Message" rows="8" cols="30" required></textarea><br /><br />

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="single-services mb-10">

                    <div class="services-caption">
                      <input type="text" id="tbox" name="phone" placeholder=" PhoneNo" required/><br /><br />
                      <input type="text" id="tbox" name="company" placeholder=" Company Name" /><br /><br />
<button type="submit" class="subform">Submit</button>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
  </section>
    <!-- Want To work End -->
    <!-- Blog Area Start -->
    <div id="blogd" class=" home-blog-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="section-tittle text-center mb-70">
                        <span>My Blog</span>
                        <h2>My recent articles</h2>
                    </div>
                </div>
            </div>
            <div class="row blogg">
              <div  id="medium-widget" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
      <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@dilaxnthilax","postsPerLine":1,"limit":2,"color":"white","picture":"small","fields":["description","author","publishAt"],"ratio":"square"}})</script>
    </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->

</main>
<footer>
    <!--? Footer Start-->
    <div id="contactf" class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="logo1">
                                <a href="index.html"><img src="assets/img/logo/lolo.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Code never lies; Comments sometimes do.</p>
                                </div>
                            </div>
                            <div class="footer-number">
                                <h4><span>+94 </span>7646 42025</h4>
                                <p>dilaxn@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="footer-cap">
                                <span>Sri Lanka</span>
                                <p>111/1 JohnRodrigo Mawatta, Kadubedda, Moratuwa 10400, Sri Lanka.</p>
                            </div>

                        </div>
                    </div>
                    <!-- Instagram -->
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li><a href="#"><img src="assets/img/gallery/instagram1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/gallery/instagram2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/gallery/instagram3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/gallery/instagram4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/gallery/instagram5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/gallery/instagram6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-6">
                        <div class="footer-copy-right">
                            <p>It's Me Dilaxn</p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
   Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <span>Find Me On</span>
                            <a href="https://twitter.com/Dilaxn128"><i class="fab fa-twitter"></i></a>
                            <a href="https://web.facebook.com/dilax.shan.7330/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/in/dilaxn-7a824b172/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/dilaxn128/"><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/Dilaxn"><i class="fab fa-github"></i></a>
                            <a href="https://stackoverflow.com/users/11103564/dilaxn"><i class="fab fa-stack-overflow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>
</html>
