#tbox{
  background-color: rgba(0, 0, 0, 0.7);
  border: 0px none;
  width: 100%;
  height: 45px;

}
#tarea{
  background-color: rgba(0, 0, 0, 0.7);
  border: 0px none;
  width: 74%;

}

#subcon{
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px black;
  color: white;
  border-radius: 8px;
  padding: 10px 24px;


}

#dilax{
font-size:50px;
color:#e3c047;
}

#subcon{

  background-color: black;
}

#git{
	margin-bottom:0px;

}

h1,p,h2{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.container {
    width: inherit;
    margin: 0 auto;

}
.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}
.foothead{
  font-family: sans-serif;

}

#about {
    background-color: black;
    padding-bottom: 5px;
    padding-top: 40px;
    color: white;
}


header{
  z-index: 99999;
  overflow: hidden;
  padding: 0px, 0px;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;

  position: fixed;

}
#slideimg1{
	background:rgba(0,0,0,1);
}

#social{
	float:right;
}

.footimg{
  opacity: 1.0;
  float: left;
    letter-spacing: -1;
    width: 120px;
    height: 150px;
}
.footimgg{
  opacity: 1.0;
  float: left;
    letter-spacing: -1;
    width: 200px;
    height: 250px;
}
.footimgg:hover{
  opacity: 0.85;
}
.navbar.afterscroll{
.subhead{

}

}
.same{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.sameintro{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color:#e3c047;
}
.navbar {


    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  margin-top: 37px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 12px;
    letter-spacing:2px;
    border-width: 0px;
box-shadow: 0px, 0px;
    background-color: rgba(0, 0, 0, 0.0);
}

.topnav.trans{
  height: 40px;
  margin-top: 0;

  	background-color: rgba(0, 0, 0, 0.7);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navbar.other{
  padding-top: 3px;
  padding-bottom: 1px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
font-family: serif;
  font-size: 12px;
  letter-spacing:4px;
  border-width: 0px;
box-shadow: 0px, 0px;
    background-color: #990000;
    font-family: sans-serif;
      z-index:0;
      top: 0px;
}
ul.topnav li{ float: left;}
ul.topnav li a{
  display: block;
  color:white;


  padding-bottom: 1px;
  text-decoration: none;
}
ul.topnav .dropd{
  display: none;
  position: absolute;
}
ul.topnav .dropdown:hover> .dropd{
  display: block;

}
ul.topnav .dropd a{
  color:black;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-nav  li a{
  color: white !important;
}


.footer-padding {
	padding-bottom: 0;
}

.navbar-header{
  letter-spacing: 1px;
}
.navbar-header2{
  letter-spacing: 1px;
}
.navbar-brand.bs{
  font-family: Snell Roundhand, cursive;
font-size: 22px;
  padding-left: 55px;
  letter-spacing: 1px;
  color:#e3c047;
}
.navbar-brand.as{

  padding-top: 40px;
  padding-left: 65px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-weight:800;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 30px;
  color:#e3c047;
}
.footimg.bs{
  width: 90px;
  height: 105px;
  float: left;
position: absolute;
}
.footimg.as{
  position:static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  height: 150px;
}
#services p{
  font: black;
}
#services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    font: black;

}
a,a:hover {color:inherit;
text-decoration: none;}


#myquote {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/quote.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    font: black;
}

#intrest {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/s3.jpg);
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    font: white;
}

#aboutmee {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/me.jpg);
  background-size: contain;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
  background-position: center;

  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  font: black;

}
#contactme {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/address.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    font: black;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;

}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.navbar-header img{
  width: 40px;
  height: 50px;
}


html, body {
overflow-x: hidden;
width: 100%;
margin: 0px;
padding: 0px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}
#medium-widget{
  width: auto;
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;

  cursor: pointer;
}

.btn:hover {
  background-color:#e3c047;
}

.btn.active {
  background-color:#e3c047;
  color: black;
}
/*last*/
#slider,  #slider .slide{
  width: 1000px;
  height: 70px;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  background: transparent;
}
#slider .container {
  position: relative;
  width: 9000px; /* Assign an insanely large width */
  top: 0;
  right: 0;
  animation: slide-animation 25s infinite;
}
#slider .slide {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
}

#hrblog{
  width:60%;
}

/* [ANIMATION] */
@keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  11% {
    opacity: 1;
    right: 0;
  }
  22% { right: 100%; }
  33% { right: 100%; }
  44% { right: 200%; }
  55% { right: 200%; }
  66% { right: 300%; }
  77% { right: 300%; }
  88% {
    opacity: 1;
    right: 400%;
  }
  100% {
    opacity: 0;
    right: 400%;
  }
}

/* [DOES NOT MATTER] */

h1 {
  text-align: center;
}


/* for toggle*/
.topnav{
  padding-right: 30px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
margin-top: 37px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 12px;
  letter-spacing:2px;
  border-width: 0px;
box-shadow: 0px, 0px;
  background-color: rgba(0, 0, 0, 0.0);

}

.topnav a {
  float: right;
  display: block;
  color:white;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;

}
.zoom {


  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.topnav a:hover {

  color: #e3c047;
  font-weight: bold;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;

  }
  .topnav{
    margin-top: 0px;
    padding-right: 0px;
    	background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar-brand{display: none;}
  .topnav a.icon {
    margin-top: 0px;
    float: right;
    display: block;

  }
}

@media screen and (max-width: 600px) {
[data-aos-delay]{
  transition-delay: 0 !important;
}

  .topnav.responsive {position: relative;}
  .topnav{
    margin-top: 0px;
    padding-right: 0px;
    	background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar-brand{display: none;}
  .topnav.responsive .icon {
    margin-top: 0px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    margin-top:0px;
    float: none;
    display: block;
    text-align: left;
  }

}
